DJANGO_DEVELOPMENT = 0
SECRET_KEY = 'INPUT-YOUR-SECRET-KEY'

POSTGRES_DB = 'base'
POSTGRES_USER = 'user'
POSTGRES_PASSWORD = 'password'
DB_HOST = db
DB_PORT = 5432

MAIL_API = 'https://api'
MAIL_API_KEY = 'api_key'
FROM_MAIL = 'email address'